.pricing-swiper {
  overflow: visible;
}

.pricing-swiper .swiper-wrapper {
  align-items: stretch;
}

.pricing-swiper .swiper-slide.pricing-slide {
  height: auto;
  display: flex;
}

.pricing-swiper .swiper-slide.pricing-slide > * {
  width: 100%;
}

.pricing-swiper .swiper-pagination-bullet-active {
  background: #37a8e4;
}
